{% include 'header.html' %}
    <!-- Clients Page Contents-->
    <div class="container-fluid">
        <table class="table table-striped table-hover" style="cursor: pointer;" id="aecom-table">
            <thead>
                <tr>
                  <th>Inspection Ref</th>
                  <th>Inspection Date</th>
                  <th>Document Name</th>
                  <th>Business Entity</th>
                  <th></th>
              </tr>
            </thead>
            <!-- Display inspections from the database -->
            {% for report in aecom_reports %}
              <tr>
                  <td>{{ report.inspection_ref }}</td>
                  <td>{{ report.inspection_date }}</td>
                  <td>{{ report.document_name }}</td>
                  <td>{{ report.business_entity }}</td>
                  <td>
                    <a href="/download_file/{{ OUTPUT_FOLDER }}/{{ report.zipname }}" class="btn btn-primary btn-sm">Download</a>
                    <button type="button" class="btn btn-danger btn-sm delete-record-button" data-id="{{ report.id }}">Delete Record</button>
                  </td>
              </tr>
              {% endfor %}
              <tfoot>
                  <tr>
                    <th>
                      <button type="button" data-bs-toggle="modal" data-bs-target="#process-report" class="btn btn-primary">Process Report</button>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Modals -->

    <div class="modal fade" id="process-report" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Process Reports</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="upload-form" action="/aecom" method="post" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="file" name="files[]" class="form-control" id="inputGroupFile01" multiple>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="business_entity" name="business_entity" required>
                            <label for="business_entity" class="form-label">Business Entity:</label>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" style="width:100%;" value="Process">
                        </div>
                        <div class="mb-3">
                            <progress class="progress" id="progress-bar" style="width:100%;" value="0" max="100"></progress>
                            <div id="status"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    Hello
                </div>
            </div>
        </div>
    </div>

  <button type="button" id="btnSwitch" class="btn btn-secondary" style="position: fixed; bottom: 5px; left: 5px;">Toggle Theme</button>
</body>
  <script type="text/javascript"> 
  $(document).ready(function () {
      $('#aecom-table').DataTable({
          searching: true,
          paging: true
          // Additional DataTable options can be added here
      });

      $('.delete-record-button').click(function () {
          var id = $(this).data('id'); // Get the id value from the data-id attribute
          if (confirm('Are you sure you want to delete this record?')) {
              $.ajax({
                  type: 'POST',
                  url: '/delete-record-aecom',
                  data: { id: id },
                  success: function (response) {
                      console.log('Record deleted successfully:', response);
                      location.reload(true); // Reload the page to update the table
                  },
                  error: function (xhr, textStatus, errorThrown) {
                      console.error('Error deleting asset:', xhr);
                  }
              });
          }
      });
  });

  function toggleTheme() {
    var currentTheme = document.documentElement.getAttribute('data-bs-theme');
    var newTheme = currentTheme === 'light' ? 'dark' : 'light';
    document.documentElement.setAttribute('data-bs-theme', newTheme);
    localStorage.setItem('theme', newTheme); // Save theme preference
  }

  // Event listener for the toggle button
  document.getElementById('btnSwitch').addEventListener('click', toggleTheme);

  // Apply saved theme on page load
  document.addEventListener('DOMContentLoaded', () => {
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
      document.documentElement.setAttribute('data-bs-theme', savedTheme);
    }
  });
  </script>
</html>