<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Industrial Safety Inspections - Assets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary fixed-top" style="background-color: #1D71BE;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Industrial Safety Inspections - Asset Tracking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/assettracker">Asset Tracking</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Client Reporting
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/client01">AECOM - Royal Mail</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Bespoke Report Request</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Training Materials
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/quiz">Engineer Training - LOLER</a></li>
                  <li><a class="dropdown-item" href="/leaderboard">Engineer Training - LOLER</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/leaderboard">Leaderboards</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <div class="container" style="padding: 1.5%;">
        .
    </div>
    <!-- Clients Page Contents-->
    <div class="container-fluid">
        <table class="table table-striped table-hover" style="cursor: pointer;" id="assets-table" >
            <thead>
                <tr>
                    <th sortable="true">ISI Asset Number</th>
                    <th sortable="true">Device Type</th>
                    <th sortable="true">Make/Model</th>
                    <th sortable="true">Serial Number</th>
                    <th sortable="true">IMEI Number</th>
                    <th sortable="true">MAC Address</th>
                    <th sortable="true">Allocated User</th>
                    <th sortable="true">Date Stamp</th>
                </tr>
            </thead>
            <!-- Display clients from the database -->
            {% for asset in assets %}
                <tr class="clickable-row" 
                    data-account-number="{{ asset.isi_number }}" 
                    data-client-name="{{ asset.device_type }}" 
                    data-address-1="{{ asset.make_model }}" 
                    data-address-2="{{ asset.serial_number }}"
                    data-town-city="{{ asset.imei }}" 
                    data-county="{{ asset.mac_address }}" 
                    data-email="{{ asset.allocated_user }}" 
                    data-phone="{{ asset.date_stamp }}">
                    <td>{{ asset.isi_number }}</td>
                    <td>{{ asset.device_type }}</td>
                    <td>{{ asset.make_model }}</td>
                    <td>{{ asset.serial_number }}</td>
                    <td>{{ asset.imei }}</td>
                    <td>{{ asset.mac_address }}</td>
                    <td>{{ asset.allocated_user }}</td>
                    <td>{{ asset.date_stamp }}</td>
                </tr>
            {% endfor %}
                <tfoot>
                  <tr>
                    <th>
                      <button type="button" data-bs-toggle="modal" data-bs-target="#add-asset" class="btn btn-primary">Create Asset</button>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Modals -->

    <div class="modal fade" id="add-asset" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Create New Asset</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/save-asset" method="post">
                        <div class="form-floating mb-3">
                            <input type="hidden" name="isi_number" id="isi_number">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="device_type" class="form-control" id="device_type" required>
                            <label for="device_type" class="form-label">Device Type:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="make_model" id="make_model" required>
                            <label for="make_model" class="form-label">Make/Model:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="serial_number" id="serial_number">
                            <label for="serial_number" class="form-label">Serial Number:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="imei" id="imei" required>
                            <label for="imei" class="form-label">IMEI Number:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="mac_address" id="mac_address" required>
                            <label for="mac_address" class="form-label">MAC Address:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="allocated_user" id="allocated_user" required>
                            <label for="allocated_user" class="form-label">Allocated User:</label>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Add Asset">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" data-bs-target="#uploadclientscsv" data-bs-toggle="modal">Upload Client CSV</button>
                </div>
            </div>
        </div>
    </div>

<button type="button" id="btnSwitch" class="btn btn-secondary" style="position: fixed; bottom: 5px; right: 5px;">Toggle Theme</button>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      $('#assets-table').DataTable();

  });

  document.getElementById('btnSwitch').addEventListener('click',()=>{
      if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
          document.documentElement.setAttribute('data-bs-theme','light')
      }
      else {
          document.documentElement.setAttribute('data-bs-theme','dark')
      }
  })
</script>
</html>