{% include 'header.html' %}
    <!-- Assets Page Contents -->
    <div class="container-fluid">
        <table class="table table-striped table-hover" style="cursor: pointer;" id="assets-table">
            <thead>
                <tr>
                    <th sortable="true">ISI Asset Number</th>
                    <th sortable="true">Device Type</th>
                    <th sortable="true">Make/Model</th>
                    <th sortable="true">Serial Number</th>
                    <th sortable="true">IMEI Number</th>
                    <th sortable="true">MAC Address</th>
                    <th sortable="true">Allocated User</th>
                    <th sortable="true">Date Stamp</th>
                </tr>
            </thead>
            <!-- Display assets from the database -->
            {% for asset in assets %}
            <tr class="clickable-row" data-isi-number="{{ asset.isi_number }}" data-device-type="{{ asset.device_type }}" data-make-model="{{ asset.make_model }}" data-serial-number="{{ asset.serial_number }}" data-imei="{{ asset.imei }}" data-mac-address="{{ asset.mac_address }}" data-allocated-user="{{ asset.allocated_user }}" data-date-stamp="{{ asset.date_stamp }}">
                <td>{{ asset.isi_number }}</td>
                <td>{{ asset.device_type }}</td>
                <td>{{ asset.make_model }}</td>
                <td>{{ asset.serial_number }}</td>
                <td>{{ asset.imei }}</td>
                <td>{{ asset.mac_address }}</td>
                <td>{{ asset.allocated_user }}</td>
                <td>{{ asset.date_stamp }}</td>
            </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <th>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#add-asset" class="btn btn-primary">Create Asset</button>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Modals -->

    <!-- Asset Details Modal -->
    <div class="modal fade" id="asset-details-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Asset Details: <span id="modal-isi-number"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/update-asset" method="post" enctype="multipart/form-data" id="update-asset-form">
                        <input type="hidden" name="isi_number" id="hidden-isi-number">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="device-type" name="deviceType">
                                    <label for="deviceType">Device Type:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="make-model" name="makeModel">
                                    <label for="makeModel">Make/Model:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="serial-number" name="serialNumber">
                                    <label for="serialNumber">Serial Numner:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="imei" name="imei">
                                    <label for="imei">IMEI Number:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="mac-address" name="macAddress">
                                    <label for="macAddress">MAC Address:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="allocated-user" name="allocatedUser">
                                    <label for="allocatedUser">Assigned To:</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="date-stamp" name="dateStamp" readonly>
                                    <label for="dateStamp">Asset Creation Date:</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit-update-asset-form">Submit</button>
                    <button type="button" class="btn btn-danger" id="delete-asset-button">Delete Asset</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Asset Modal -->
    <div class="modal fade" id="add-asset" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Create New Asset</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-asset-form" action="/add-asset" method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="new-device-type" name="deviceType" placeholder="Device Type" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="new-make-model" name="makeModel" placeholder="Make/Model" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="new-serial-number" name="serialNumber" placeholder="Serial Number" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="new-imei" name="imei" placeholder="IMEI Number">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="new-mac-address" name="macAddress" placeholder="MAC Address">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="new-allocated-user" name="allocatedUser" placeholder="Allocated User">
                        </div>
                        <button type="submit" class="btn btn-primary">Save Asset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        // Initialize DataTables on your assets table
        $('#assets-table').DataTable({
            searching: true,
            paging: true
            // Additional DataTable options can be added here
        });

        // Handle click on table rows for assets
        $('#assets-table tbody').on('click', '.clickable-row', function () {
            var isiNumber = $(this).data('isi-number');
            var deviceType = $(this).data('device-type');
            var makeModel = $(this).data('make-model');
            var serialNumber = $(this).data('serial-number');
            var imei = $(this).data('imei');
            var macAddress = $(this).data('mac-address');
            var allocatedUser = $(this).data('allocated-user');
            var dateStamp = $(this).data('date-stamp');

            // Populate the modal with the data
            $('#hidden-isi-number').val(isiNumber);
            $('#modal-isi-number').text(isiNumber);
            $('#device-type').val(deviceType);
            $('#make-model').val(makeModel);
            $('#serial-number').val(serialNumber);
            $('#imei').val(imei);
            $('#mac-address').val(macAddress);
            $('#allocated-user').val(allocatedUser);
            $('#date-stamp').val(dateStamp);

            // Show the modal
            $('#asset-details-modal').modal('show');
        });

        $('#submit-update-asset-form').click(function () {
            var formData = {
                isiNumber: $('#hidden-isi-number').val(),
                deviceType: $('#device-type').val(),
                makeModel: $('#make-model').val(),
                serialNumber: $('#serial-number').val(),
                imei: $('#imei').val(),
                macAddress: $('#mac-address').val(),
                allocatedUser: $('#allocated-user').val(),
            };

            $.ajax({
                type: 'POST',
                url: '/update-asset',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(formData),
                success: function (response) {
                    console.log('Asset update successful:', response);
                    location.reload(true);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error submitting data:', xhr);
                }
            });
        });

        $('#delete-asset-button').click(function () {
            var isiNumber = $('#hidden-isi-number').val();
            if (confirm('Are you sure you want to delete this asset?')) {
                $.ajax({
                    type: 'POST',
                    url: '/delete-asset',
                    data: { isi_number: isiNumber },
                    success: function (response) {
                        console.log('Asset deleted successfully:', response);
                        location.reload(true); // Reload the page to update the table
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error deleting asset:', xhr);
                    }
                });
            }
        });
    });

      function toggleTheme() {
        var currentTheme = document.documentElement.getAttribute('data-bs-theme');
        var newTheme = currentTheme === 'light' ? 'dark' : 'light';
        document.documentElement.setAttribute('data-bs-theme', newTheme);
        localStorage.setItem('theme', newTheme); // Save theme preference
      }

      // Event listener for the toggle button
      document.getElementById('btnSwitch').addEventListener('click', toggleTheme);

      // Apply saved theme on page load
      document.addEventListener('DOMContentLoaded', () => {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
          document.documentElement.setAttribute('data-bs-theme', savedTheme);
        }
      });
</script>


</html>
