<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Asset Tracker and Tools</a>
        </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#">Tools</a>
                        <div class="dropdown-content">
                            <a href="/upload">AECOM Report Tool</a>
                            <a href="/assettracker">Asset Tracker</a>
                        </div>
                    <li class="dropdown">
                        <a href="#">Contact</a>
                        <div class="dropdown-content">
                            <a href="mailto:aarongomm@isisafety.com?subject=IT%20Support%20Request">Submit Support Request</a>
                            <a href="mailto:aarongomm@isisafety.com?cc=mickgrist@isisafety.com;julie@isisafety.com&subject=IT%20Kit%20Request">Submit Kit Request</a>
                        </div>
                    </li>
                    <li><a href="#">Account</a></li>
                </ul>
            </nav>
        <div class="search">
            <input type="text" id="search" name="search" placeholder="Search Here.">
            <button id="search-button" onclick="searchAssets()">Search</button>
        </div>
    </header>
    <!-- Rest of your content goes here -->
</body>
</html>
