{% include 'header.html' %}
  <div class="container-fluid">

  </div>
  </body>
<script>
  // Function to switch the theme and save the preference
  function toggleTheme() {
    var currentTheme = document.documentElement.getAttribute('data-bs-theme');
    var newTheme = currentTheme === 'light' ? 'dark' : 'light';
    document.documentElement.setAttribute('data-bs-theme', newTheme);
    localStorage.setItem('theme', newTheme); // Save theme preference
  }

  // Event listener for the toggle button
  document.getElementById('btnSwitch').addEventListener('click', toggleTheme);

  // Apply saved theme on page load
  document.addEventListener('DOMContentLoaded', () => {
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
      document.documentElement.setAttribute('data-bs-theme', savedTheme);
    }
  });
</script>
</html>
